<% title "Viewing #{@service.display_name} details" %>


<%= link_to "Create New Promotion", new_service_promotion_path(@service) %> |
<a href="javascript:location.href='http://digestivesystem.heroku.com/services/radio1/promotions/new?url='+encodeURIComponent(%20location.href%20)">
  Bookmarklet for <%=@service.display_name %>
</a>


<p><strong>Available streams</strong>: <%=  @service.streams.map{|n| link_to(n.display_name, service_stream_exposures_path(@service, n))}.to_sentence %> </p>
