<%= title "Radio 1's Digestive System" %>

<p>Welcome to the radio 1 digestive system prototype application, have fun and be careful.</p>
<p>The github repo is <a href="http://github.com/danielcooper/digestivesystem">here</a></p>