<% title "Exposure" %>

<p>
  <strong>Birth:</strong>
  <%=h @exposure.birth %>
</p>
<p>
  <strong>Death:</strong>
  <%=h @exposure.death %>
</p>
<p>
  <strong>Stream:</strong>
  <%=h @exposure.stream_id %>
</p>

<p>
  <strong>Resource:</strong>
  <%=h @exposure.resource.title %>
</p>


