<script type="text/javascript">
  $(document).ready(function() {
    selected_image = $("#resource_external_image_url").val();
    if(selected_image != ""){
      $("#small_image").css('background', 'url(' + selected_image + ') no-repeat');
	  $("#medium_image").css('background', 'url(' + selected_image + ') no-repeat');
	  $("#large_image").css('background', 'url(' + selected_image + ') no-repeat');
    }else{
      $("#small_image").css('background', 'none');
	  $("#medium_image").css('background', 'none');
	  $("#large_image").css('background', 'none');
    }

    $("#resource_external_image_url").change(function(){
      selected_image = $("#resource_external_image_url").val();
      if(selected_image != ""){
		$("#small_image").css('background', 'url(' + selected_image + ') no-repeat');
		$("#medium_image").css('background', 'url(' + selected_image + ') no-repeat');
		$("#large_image").css('background', 'url(' + selected_image + ') no-repeat');
	  }else{
		$("#small_image").css('background', 'none');
		$("#medium_image").css('background', 'none');
		$("#large_image").css('background', 'none');
	  }

    });
  });

</script>
<!-- TODO: MOVE THIS TO A PARTIAL ALL ON IT'S OWN -->
<% model.external_image_url = [model.external_image_url] unless model.external_image_url.is_a? Array  %>
<p>
  <%= f.label :external_image_url %><br />
<div class="front_box image_preview small_box small_image_preview" ><img id ="small_image" src="" width = '74' height = '74'/></div>
<div class="front_box image_preview medium_box medium_image_preview"><img id="medium_image" src="" width = '156' height = '156'/></div>
<div class="front_box image_preview large_box"><img id="large_image" src="" width = '320' height = '320'/><h1 class="box_overlay title_overlay">Greg James</h1>
 <h3 class="box_overlay " style="margin: 0px;">Catch up with Greg!</h3></div>

<%= f.select :external_image_url, [["No Image",""]] + model.external_image_url, {} , :id=>"resource_external_image_url"%>
</p>
