<% title "Edit Promotion" %>

<% form_for 'promotion', @promotion, :url => promotions_path, :html => {:method => :post} do |f| %>
  <%= render :partial => 'form', :locals => { :f => f, :model => @promotion } %>
<%end%>

<p>
  <%= link_to "Show", promotion_path(@promotion) %> |
  <%= link_to "View All", promotions_path %>
</p>
